"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8069e0ce-826a-4120-bd53-242131ba5f78"
    js:
      indent_size: 2
  "autoclose-html": {}
  "autocomplete-modules":
    vendors: [
      "node_modules"
      "bower_components"
    ]
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "open-on-github"
    ]
    packagesWithKeymapsDisabled: [
      "git-diff-popup"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "hack"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
  "exception-reporting":
    userId: "757f6ce6-cf27-cab7-5d9f-ec17d5a39efd"
  "git-history":
    showDiff: false
  linter:
    errorPanelHeight: 112
  "linter-eslint":
    globalNodePath: "/Users/BBoyKelvin/.nvm/versions/node/v5.8.0"
  "tree-view": {}
  welcome:
    showOnStartup: false
".jade.source":
  editor:
    preferredLineLength: 120
