"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8069e0ce-826a-4120-bd53-242131ba5f78"
    js:
      indent_size: 2
  "atom-typescript": {}
  "autoclose-html": {}
  "autocomplete-modules":
    vendors: [
      "node_modules"
      "bower_components"
    ]
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "open-on-github"
      "cursor-history"
    ]
    packagesWithKeymapsDisabled: [
      "git-diff-popup"
      "cursor-history"
      "last-cursor-position"
    ]
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  "cursor-history":
    flashOnLand: true
    searchAllPanes: false
  editor:
    fontFamily: "hack"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
  "exception-reporting":
    userId: "757f6ce6-cf27-cab7-5d9f-ec17d5a39efd"
  "git-history":
    showDiff: false
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".json"
      ".node"
    ]
  "language-babel":
    transpileOnSave: true
  linter:
    errorPanelHeight: 112
  "linter-eslint":
    globalNodePath: "/Users/BBoyKelvin/.nvm/versions/node/v5.8.0"
  "terminal-plus":
    style:
      theme: "homebrew"
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".jade.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".source.ts":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
