"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8069e0ce-826a-4120-bd53-242131ba5f78"
    html:
      indent_size: 2
    js:
      indent_size: 2
    jsx:
      indent_size: 2
  "atom-typescript": {}
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
    ]
  "autocomplete-modules":
    vendors: [
      "node_modules"
      "bower_components"
    ]
  "autocomplete-plus": {}
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "open-on-github"
      "cursor-history"
      "react"
      "atom-typescript"
      "js-refactor"
      "refactor"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "git-diff-popup"
      "cursor-history"
      "last-cursor-position"
      "turbo-javascript"
      "es6-javascript"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai-plus"
    ]
  "cursor-history":
    flashOnLand: true
    searchAllPanes: false
  "disable-grammars":
    packages: [
      "react"
    ]
  editor:
    fontFamily: "hack"
    fontSize: 21
    invisibles: {}
    preferredLineLength: 120
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "757f6ce6-cf27-cab7-5d9f-ec17d5a39efd"
  "git-history":
    showDiff: false
  "git-plus":
    splitPane: "Right"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".json"
      ".node"
    ]
  "language-babel": {}
  linter:
    errorPanelHeight: 112
  "linter-eslint":
    disableWhenNoEslintConfig: false
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-file-tree": {}
    "nuclide-health":
      toolbarJewel: "None"
    use:
      "nuclide-code-format": false
      "nuclide-file-tree": false
      "nuclide-side-bar": false
  pigments:
    mergeColorDuplicates: true
  refactor: {}
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          red: 0
          green: 102
          blue: 255
          alpha: 1
      zBright:
        brightBlue:
          red: 0
          green: 136
          blue: 255
          alpha: 1
    style: {}
  "tool-bar":
    visible: false
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1480346958
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 120
".babel.regexp.source":
  editor:
    autoIndent: true
    preferredLineLength: 120
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".css.source.styled":
  editor:
    autoIndent: true
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".hack.html.text":
  editor:
    preferredLineLength: 120
".hackfragment.source":
  editor:
    preferredLineLength: 120
".hg-commit.text":
  editor:
    preferredLineLength: 120
".hover.reason.source.type":
  editor:
    preferredLineLength: 110
".jade.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    autoIndent: true
    preferredLineLength: 120
".languagebabel.ttlextension":
  editor:
    autoIndent: true
    preferredLineLength: 120
".reason.source":
  editor:
    preferredLineLength: 110
".source.ts":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
