"jitta-backend":
  title: "jitta-backend"
  paths: [
    "/Users/BBoyKelvin/Workspace/jitta-challenge"
  ]
"jitta-web":
  title: "jitta-web"
  paths: [
    "/Users/BBoyKelvin/Workspace/test_riot/jitta-challenge"
  ]
"kelvin.in.th":
  title: "kelvin.in.th"
  paths: [
    "/Users/BBoyKelvin/Workspace/kelvin.in.th"
  ]
